*{
    margin: 0;
    padding: 0;
}

.navegacion{
    background-color: #0a1266;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0;
    z-index: 2;
}
.navegacion ul{
    list-style: none;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navegacion ul li{
    display: inline-block ;
    font-size: 24px;
    padding: 0px 10px;
    color: #fff;
    position: relative;

}
.navegacion ul ul {
    display: none;
    width: 100%;
    left: 0;
    top: 50px;
    position: absolute;
    background-color:#0a1266 ;
}
.navegacion ul ul li {
    display: block;
    height: 50px;
    padding: 0px 10px;
    text-align: center;
    
}
.navegacion ul li:hover ul {
 display: block;
}


.encabezado{
    margin-top:80px;
    width: 100%;
    height: 300px;
    background-image: url(../img/piasaje.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.btn{
    width: 100px;
    background-color: #121fb3;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 10px;
    
}
.titulo{
    margin: 15px;
}
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta{
    display: flex;
    width: 350px;
    padding: 5px;
    align-items: center; 
    margin:10px 5px; 
}
.tarjeta:hover{
    box-shadow: 0px 1px 15px 2px rgba(0,0,0,0.12);
}

.tarjeta__info{
    margin: 10px;
}

.secundario{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.publicidad {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    margin: 10px;
    overflow: hidden;
}
.publicidad__titulo{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.527);
    color: rgb(255, 255, 255);
}
footer {
    background-color: #0a1266 ;
}
.footerInfo {
    display: flex;
    flex-wrap: wrap;
    column-gap:50px;
    row-gap: 20px;
    color: white;
    padding: 20px;
    align-items: center;
}
.footerInfo .compania{
    flex: 1;
    min-width: 340px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footerInfo .sucursal{
    width: 190px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerInfo .sucursal ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerInfo .sucursal ul:nth-child(4){
    justify-self: flex-start;
}
.footerInfo .sucursal ul li a{
    text-decoration: none;
    color: white;
}
.footerInfo .sucursal ul li a i {
    margin-right: 5px;
}

